@import url(https://fonts.googleapis.com/css?family=Asap:400,700);

@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/normalize';
@import 'partials/mdi';
@import 'partials/header';
@import 'partials/image-viewer';
@import 'partials/projects-list';
@import 'partials/panel';

html {
	height:100%;
}

body {
	min-height:100%;
	font-family:'Asap','Helvetica','Arial',sans-serif;
	display:flex;
	flex-direction:column;
}

body > .wrapper {
	display:flex;
	flex-direction:column;
	flex:1 0 auto;
}

.page-content {
	display:flex;
	flex:1 0 auto;

	@include queryWidth(max, 768px) {
		flex-direction:column;
	}
}

@include queryWidth(min, 769px) {
	.mobile-only {
		display:none;
	}
}
@include queryWidth(max, 768px) {
	.desktop-only {
		display:none;
	}
}