button {
	-webkit-appearance:none;
	outline:none;
	border:none;
	border-radius:18px;
	height:36px;
	position:relative;
	background-color:$accent;
	cursor:pointer;
	transition:background-color 0.2s ease-out;

	i:first-child {
		margin-right:4px;
	}
	i:last-child {
		margin-left:4px;
	}

	a {
		display:flex;
		align-items:center;
		justify-content:center;
		color:#FFF;
		font-size:0.75rem;
		text-align:center;
		padding:0 32px;
		white-space:nowrap;
		height:32px;
	}

	&:hover {
		background-color:$dark;
	}
}