
.panel-container {
	background-color:#222;
	display:flex;

	@include queryWidth(min, 1301px) {
		padding:48px;
	}
	@include queryWidth(max, 1300px) {
		padding:32px;
	}
	@include queryWidth(max, 768px) {
		padding:18px;
		flex:1 0 auto;
	}
}

.panel-content {
	background-color:#FFF;
	position:relative;
	flex:0 0 100%;
	font-size:0.85em;
	color:#444;

	@include queryWidth(min, 1025px) {
		padding:48px;
	}
	@include queryWidth(max, 1024px) {
		padding:32px;
	}
	@include queryWidth(max, 768px) {
		padding:32px 18px;
	}
}

.panel-header {
	display:flex;
	margin-bottom:32px;
	min-height:36px;

	@include queryWidth(min, 601px) {
		justify-content:space-between;
		align-items:center;
	}
	@include queryWidth(max, 600px) {
		flex-direction:column;
	}
}

.panel-header h2 {
	display:flex;
	align-items:center;

	.project-icon {
		margin-right:12px;
		background-repeat:no-repeat;
		background-position:center center;
		background-size:auto 100%;
		transition:opacity 0.2s $standardCurve;
	}

	@include queryWidth(min, 1025px) {
		font-size:2rem;
		.project-icon {
			height:2rem;
			width:2rem;
		}
	}
	@include queryWidth(max, 1024px) {
		font-size:1.6rem;
		.project-icon {
			height:1.6rem;
			width:1.6rem;
		}
	}
	@include queryWidth(max, 768px) {
		font-size:1.4rem;
		.project-icon {
			height:1.4rem;
			width:1.4rem;
		}
	}	
	@include queryWidth(max, 600px) {
		margin-bottom:32px;
	}
}

.panel-header button {
	-webkit-appearance:none;
	outline:none;
	border:none;
	background-color:$accent;
	border-radius:18px;
	height:36px;

	i {
		margin-right:4px;
	}

	a {
		color:#FFF;
		display:block;
		font-size:0.75rem;
		height:36px;
		line-height:32px;
		text-align:center;
		padding:0 32px;
	}
}

.panel-info {
	&[data-aos=fade-left] {
		transform:translateX(18px);
	}
}

.panel-intro,
.panel-details {
	p {
		line-height:2.2em;
	}

	a {
		color:$accent;
		text-decoration:underline;
	}

	p + p {
		margin-top:24px;
	}
}

.panel-screenshots {
	background-color:#FAFAFA;
	margin:48px 0;
	display:flex;
	align-items:center;
	padding:18px;

	@include queryWidth(max, 1300px) {
		justify-content:space-between;
	}

	div {
		background-repeat:no-repeat;
		background-position:center;
		background-size:cover;
		cursor:pointer;
		transition:opacity 0.2s $standardCurve;
		
		@include queryWidth(min, 1301px) {
			flex:0 0 120px;
			padding-bottom:120px;
			
			& + div {
				margin-left:32px;
			}
		}
		@include queryWidth(max, 1300px) {
			flex:0 0 30%;
			padding-bottom:30%;
		}
	}
}


.panel-enter-active,
.panel-leave-active {
	transition-property:opacity;
	transition-timing-function:$standardCurve;
}
.panel-enter-active {
	transition-duration:0.3s;
}
.panel-leave-active {
	transition-duration:0.15s;
}
.panel-enter,
.panel-leave-active {
	opacity:0;
}

