$projectNavIndicatorHeight:36px;
$projectNavIndicatorItemWidth:128px;

.project-nav-indicator {
	position:relative;

	@include queryWidth(max, 768px) {
		display:none;
	}
}

.project-nav-indicator ul {
	list-style-type:none;	
	height:$projectNavIndicatorHeight;
	display:flex;
}

.project-nav-indicator li {
	display:flex;
	align-items:center;
	justify-content:center;
	width:$projectNavIndicatorItemWidth;
	height:$projectNavIndicatorHeight;
	cursor:pointer;
	font-size:0.7rem;
	color:#999;
	transition:color 0.2s ease-out;

	&.active,
	&:hover {
		color:#FFF;
	}
}

.project-nav-indicator .indicator-underline {
	width:$projectNavIndicatorItemWidth;
	height:2px;
	background-color:$accent;
	position:absolute;
	bottom:0;
	left:$projectNavIndicatorItemWidth;
	transition:transform 0.45s $easeOutSine;
}

.project-nav-indicator .home-item {
	
	i {
		font-size:1.5em;
		margin-right:6px;
	}

	span {
		font-size:0.85em;
		text-transform:uppercase;
		letter-spacing:0.5px;
	}

	&.active {
		color:$accent;
	}
}